body {
  margin: 0;
  overflow: clip;
}

.working-arrea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('./images/Background.png') no-repeat center center;
  background-size: cover;
  position: relative;
}

.content {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


/* !!!!!!!!!!!! pergament  !!!!!!!!!!!! */

.pergament-top {
  background: url('./images/roll.png') no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 140px;
  z-index: 2;
  transition: margin-top 1s ease-in-out;
}

.pergament-bottom {
  background: url('./images/roll.png') no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 140px;
  z-index: 1;
  transition: margin-top 1s ease-in-out;
  margin-top: -50px;
}

.pergament-bottom-opened {
  margin-top: 50vh;
}

/* !!!!!!!!!!!! BODY  !!!!!!!!!!!! */

.pergament-body {
  position: absolute;
  /* top: calc(30vh + var(--scroll-offset, 0px)); */
  top: 50%;
  width: 500px;
  /* left: 50%;
  transform: translateX(-50%); */
  height: 0;
  overflow: hidden;
  z-index: 0;
  transition: height 1s ease-in-out, top 1s cubic-bezier(.4, 1, .2, 1);
  /* transition: all 1s cubic-bezier(.4, 0, .2, 1); */
}

.pergament-body-opened {
  height: calc(50vh + 100px);
  /* видима частина */
  top: calc(25vh - 80px);
  overflow-y: auto;
  /* скрол вмісту */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE, Edge */
}

.pergament-inner {
  background: url('./images/papyrus-4.png') no-repeat top center;
  background-size: contain;
  width: 100%;
  height: auto;
  aspect-ratio: 1920 / 4776;
}







/* !!!!!!!!!!!! ribbon  !!!!!!!!!!!! */
.ribbon {
  width: 500px;
  height: 500px;
  position: absolute;
  top: calc(50% + 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: url('./images/ribbon.png') no-repeat center center;
  background-size: contain;
  opacity: 1;
}

.ribbon-open {
  left: 0;
  opacity: 0;
  transition: left 0.5s cubic-bezier(.68, 0, .27, 1.55), opacity 0.5s ease-in-out;
}

/* !!!!!!!!!!!! seal  !!!!!!!!!!!! */
.seal {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.seal-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('./images/seal_up.png') no-repeat center center;
  background-size: contain;
  border-radius: 70px 70px 0 0;
  opacity: 1;
}

.seal-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url('./images/seal_down.png') no-repeat center center;
  background-size: contain;
  border-radius: 0 0 70px 70px;
  opacity: 1;
}

@keyframes seal-vibrate {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-4px);
  }

  40% {
    transform: translateY(4px);
  }

  60% {
    transform: translateY(-4px);
  }

  80% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(0);
  }
}

.seal-vibrate .seal-top,
.seal-vibrate .seal-bottom {
  animation: seal-vibrate 0.5s linear;
}

.seal-open .seal-top {
  top: -200px;
  opacity: 0;
  transition: top 0.5s cubic-bezier(.68, 0, .27, 1.55), opacity 0.5s ease-in-out;
}

.seal-open .seal-bottom {
  bottom: -200px;
  opacity: 0;
  transition: bottom 0.5s cubic-bezier(.68, 0, .27, 1.55), opacity 0.5s ease-in-out;
}




/* !!!!!!!!!!!! tassel  !!!!!!!!!!!! */


.tassel {
  position: absolute;
  top: 0;
  width: 50px;
  height: auto;
  transform-origin: top center;
  transform: rotateX(90deg);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(.17, .67, .83, .67), opacity 0.3s ease-in;
}

.tassel-left {
  left: 70px;
  top: calc(var(--center-top) - 25vh - 115px);
  z-index: 2;
}

.tassel-right {
  right: 60px;
  top: calc(var(--center-top) - 25vh - 115px);
  z-index: 2;
}

.tassel-visible {
  transform: rotateX(0deg);
  opacity: 1;
}

@media (max-width: 576px) {
  .content {
    width: 350px;
  }

  .pergament-top,
  .pergament-bottom {
    height: 62px;
  }

  .pergament-bottom {
    margin-top: -20px;
  }

  .pergament-bottom-opened {
    margin-top: 460px;
  }

  .pergament-body {
    width: 200px;
  }

  .pergament-body-opened {
    height: 497px;
    top: 42px;
  }

  .ribbon {
    width: 200px;
    height: 200px;
    top: calc(50% + 35px);
  }

  .seal {
    width: 70px;
    height: 70px;
  }

  .tassel {
    width: 30px;
  }

  .tassel-left {
    left: 26px;
    top: 20px;
  }

  .tassel-right {
    right: 26px;
    top: 20px;
  }
}